.gs-code {
    background-color: var(--language-code-bg-color, #1b1d1f);
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 2rem;
    overflow-x: auto;

    pre {
        margin: 0;
        font-family: var(--font-family, "Roboto", sans-serif);
        font-size: 14px;
        color: var(--text-white, #ffffff);
        white-space: pre;
    }
}
