.playground {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: var(--nx-spacing-xl, 32px);
    margin-bottom: var(--nx-spacing-lg, 24px);

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.playground-controls {
    display: flex;
    flex-direction: column;
    gap: var(--nx-spacing-md, 16px);
}

.playground-preview {
    //display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    border: 1px solid var(--shell-border);
    border-radius: var(--nx-radius-md, 8px);
    padding: var(--nx-spacing-lg, 24px);
}
